.left {
	float: left;
	margin-left: 10px;
}

.right {
	float: right;
	margin-right: 10px;
}

.deal_item {
	width: 1000px;
	height: 210px;
}

#main_title {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 20px;
	display: block;
}

#content {
	border-top: 1px solid #E0E0E0;
}