#content {
	display: block;
}

#content h1 {
	text-align: center;
}

#content h2 {
	text-align: center;
}

#content h3 {
	text-align: center; 
}
.right_menu_item {
	float: left;
	padding: 0;
	height: 180px;
	width: 480px;
	margin: 5px;
	border: 1px solid #E0E0E0;
}

.left_menu_item {
	float: right;
	padding: 0;
	height: 180px;
	width: 480px;
	margin: 5px;
	border: 1px solid #E0E0E0;
}

.right_text {
	float: right;
	margin: 0;
	padding: 10px;
	width: 280px;
}

.right_image {
	float: right;
	margin: 10px;
}

.left_text {
	float: left;
	margin: 0px;
	padding: 10px;
	width: 280px;
}

.left_image {
	float: left;
	margin: 10px;
}